/* common css style start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    outline: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

    line-height: 0.8;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

/* common css style end */

/* header style start */
#headerPart {
    padding: 30px 0;

}

.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li {
    display: inline-block;
    padding: 0 15px;
}

.menu ul li a {
    color: #181818;
    font-size: 18px;
    font-weight: 500;
    transition: 0.4s;

}

.menu ul li a:hover {
    color: #5956E8;
}

.btn a {
    padding: 18px 25px;
    background: #5956E8;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}

/* header style end */




/* Banner style start */
#bannerPart {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 0;
    padding-right: 0;
    background: #5956E8;
}

.bannerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerContent h1 {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    line-height: 80px;
    width: 501px;
}

.bannerContent p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
    width: 542px;
    margin-top: 35px;
    margin-bottom: 45px;
}

.bannerContent a {
    padding: 18px 25px;
    color: #5956E8;
    background: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}

/* Banner style end */







/* Service style start */
#servicePart {
    padding: 105px 0;
    /* background: lightgray; */
}

.serviceText {
    width: 542px;
    margin: 0 auto;
}

.serviceText h3 {
    font-size: 40px;
    color: #181818;
    font-weight: 700;
    text-align: center;
}

.serviceText p {
    font-size: 16px;
    font-weight: 400;
    color: #181818;
    opacity: 0.7;
    text-align: center;
    padding-top: 25px;
    line-height: 27px;
    padding-bottom: 52px;
}

.serviceItems {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.serviceOne {
    width: 370px;
    height: 385px;
    border: 1px solid #E3E3E3;
    padding-top: 60px;
    padding-left: 48px;
    border-radius: 10px;
    transition: .7s;
}

.serviceOne:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.serviceOne h4 {
    font-size: 25px;
    font-weight: 700;
    color: #181818;
    width: 163px;
    padding: 28px 0;
    width: 224px;
}

.serviceOne p {
    width: 274px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #181818;
    opacity: 0.7;
}

.serviceOne:hover svg {
    fill: #5956E8;
    stroke: white;
}

/* Service style end */




/* portfolio style start */
#portfolioPart {
    margin: 20px 0;
}

.portfolioContent {

    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    
}

.portfolioItem {
    width: 270px;
    height: 319px;
position: relative;
}

.portfolioItemText {
    width: 230px;
    height: 113px;
    padding: 24px 28px;
    background: #5956E8;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .7s;
}

.portfolioItem:hover .portfolioItemText {
    visibility: visible;
    opacity: 1;
}

.portfolioItemText h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #fff;
    text-align: center;
}

.portfolioItemText h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
    text-align: center;
}

.portfolioItemText i {
    height: 24px;
    width: 24px;
    color: #fff;

    padding-left: 5px;
}

/* portfolio style end */




/* Team member style start */
#teamMemberPart{
    padding: 50px 0;
}
.memberFlex{
    display: flex;
    justify-content: space-between;
}
.member{
    width: 370px;
    height: 444px;
    position: relative;
}
.memberInfo{
    position: absolute;
    bottom: 43px;
    left: 117px;
     text-align: center;
}
.memberInfo h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color:#fff;
    text-align: center;

}
.memberInfo h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
     text-align: center;
      color:#fff;
}
/* Team member style end */




/* ratings  style start */
#ratings{
   padding: 50px 0;
}
.ratingsText{
    width: 603px;
    
}
.ratingsText h3 {
    font-size: 40px;
    color: #181818;
    font-weight: 700;
    line-height: 48px;
    
}
.ratingsText p {
    font-size: 16px;
    font-weight: 400;
    color: #181818;
    opacity: 0.7;
    padding-top: 22px;
    line-height: 27px;
    padding-bottom: 52px;
}
.ratingsFlex{
    display: flex;
    justify-content: space-between;
}
.ratingsItem{
    width: 370px;
    height: 425px;
    padding: 42px 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    

}
.rating i{
    font-size: 20px;
    color: #FBBF25;
    padding: 22px 0;
}
.ratingsItem p{
    width: 274px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #181818;
    opacity: 0.7;
}
.ratingsItem h4{
    
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #181818;
    padding-top: 15px;
    
}
.ratingsItem h5{
    
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #5D5D5D;
    
}
.comaImg{
    
    text-align: right;
    /* padding-bottom: 16px; */
}
.comaImg img{
    
    width: 63px;
    height: 46px;
    
}
/* ratings  style end */


/* Blog style start */
#blogPart{
padding: 50px 0;
}
.blogFlex{
    display: flex;
    justify-content: space-between;

}
.blogItem{
    width: 370px;
    height: 490px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    padding: 18px 18px 48px 18px;
}
.blogIcon{
    display: flex;
    align-items: center;
    padding: 15px 0;
    
}
.blogIcon i{
    font-size: 18px;
    padding-right: 8px;
    color: #5D5D5D;
    padding-left: 15px;
}
.blogIcon h6{
    font-size: 16px;
    color: #5D5D5D;
    line-height: 27px;
    font-weight: 400;
}
.blogIcon .fa-calendar{
    padding-left:37px ;
}
.blogItem h4{
    width: 251px;
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    line-height: 22px;
    padding-left: 15px;
}
.blogItem p{
   
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #5D5D5D;
    padding-left: 15px;
    margin: 14px 0;
}
.blogItem a{
    padding-left: 15px;
    color: #5956E8;
    font-size: 16px;
    font-weight: 600;
}
/* Blog style end */


/* Footer style start */
#footerPart{
 background: #EEEEFD;
}
.footerFlex{
    padding: 92px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerItem p{
    width: 300px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #5D5D5D;
    padding: 22px 0;
}
.socialMedia i{
    background: #fff;
    padding: 12px 12px;
    border-radius: 50%;
    
    
}
.fa-facebook{
    color: #337FFF;
}
.socialMedia .fa-twitter{
    color: #33CCFF;
    margin-left: 10px;
}
.footerItem h4{
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    padding-bottom: 27px;
}
.footerItem h5{
     font-size: 16px;
    font-weight: 400;
    color: #5D5D5D;
    padding-bottom: 20px;
}
.footerItem h6{
     font-size: 16px;
    font-weight: 400;
    color: #5D5D5D;
    padding-bottom: 30px;
    line-height: 27px;
    width: 157px;
    margin-bottom: 53px;

}
/* Footer style end */







/* header style start */
/* header style end */